<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISTT Students API v1.0</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="bg-blue-600">
      <div class="max-w-[1600px] mx-auto">
        <div>
          <h1
            class="font-sans font-bold text-sm md:text-xl lg:text-3xl py-4 text-center text-white"
          >
            Institute of Science Trade & Technology, Dhaka
          </h1>

          <h2
            class="pb-3 font-sans font-semibold text-xs md:text-sm lg:text-xl text-center text-white"
          >
            API v1.0 Alpha
          </h2>
        </div>

        <div class="py-4">
          <ul class="flex items-center justify-center gap-5">
            <li>
              <a class="font-sans font-medium text-base text-white" href="/"
                >Home</a
              >
            </li>
            <li>
              <a
                class="font-sans font-medium text-base text-white"
                href="https://github.com/rameem2003/ISTT-Students-API"
                target="_blank"
                >Github</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- banner start -->
    <section class="mt-8">
      <div class="max-w-[1600px] mx-auto">
        <div
          class="flex items-center justify-between flex-col md:flex-row gap-5 md:gap-3"
        >
          <div class="w-full md:w-1/2 text-center">
            <h1
              class="font-sans font-bold text-5xl md:text-6xl lg:text-8xl text-blue-600 mb-4"
            >
              <span class="font-normal">Dummy</span> REST API
            </h1>

            <h2
              class="font-sans font-bold text-xl md:text-3xl lg:text-4xl text-blue-600 my-9"
            >
              For ISTT & Practise
            </h2>

            <a
              href="https://github.com/rameem2003/ISTT-Students-API"
              class="inline-block py-2 px-4 lg:py-3 lg:px-5 border-[2px] border-blue-600 font-sans font-semibold text-lg text-blue-600"
            >
              View Documentation
            </a>
          </div>

          <div class="w-full md:w-1/2 text-center">
            <img src="./bannerCode.png" alt="" class="lg:mx-auto" />
          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->
  </body>
</html>
