<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISTT Students API v1.0</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="bg-blue-600">
      <div class="max-w-[1600px] mx-auto">
        <div>
          <h1
            class="font-sans font-bold text-sm md:text-xl lg:text-3xl py-4 text-center text-white"
          >
            Institute of Science Trade & Technology, Dhaka
          </h1>

          <h2
            class="pb-3 font-sans font-semibold text-xs md:text-sm lg:text-xl text-center text-white"
          >
            API v1.0 Alpha
          </h2>
        </div>

        <div class="py-4">
          <ul class="flex items-center justify-center gap-5">
            <li>
              <a class="font-sans font-medium text-base text-white" href="/"
                >Home</a
              >
            </li>
            <li>
              <a
                class="font-sans font-medium text-base text-white"
                href="https://github.com/rameem2003/ISTT-Students-API"
                target="_blank"
                >Github</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- banner start -->
    <section class="mt-8">
      <div class="max-w-[1600px] mx-auto">
        <div
          class="flex items-center justify-between flex-col md:flex-row gap-5 md:gap-3"
        >
          <div class="w-full md:w-1/2 text-center">
            <h1
              class="font-sans font-bold text-5xl md:text-6xl lg:text-8xl text-blue-600 mb-4"
            >
              <span class="font-normal">Dummy</span> REST API
            </h1>

            <h2
              class="font-sans font-bold text-xl md:text-3xl lg:text-4xl text-blue-600 my-9"
            >
              For ISTT & Practise
            </h2>

            <a
              href="https://github.com/rameem2003/ISTT-Students-API"
              class="inline-block py-2 px-4 lg:py-3 lg:px-5 border-[2px] border-blue-600 font-sans font-semibold text-lg text-blue-600"
            >
              View Documentation
            </a>
          </div>

          <div class="w-full md:w-1/2 text-center">
            <img
              src="https://i.ibb.co/pzp38Dv/code-banner.png"
              alt="code"
              class="lg:mx-auto"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->

    <!-- demo start -->
    <section class="mt-[100px]">
      <div class="max-w-[1600px] mx-auto">
        <h2
          class="font-sans font-bold text-xl md:text-3xl lg:text-6xl text-blue-600 text-center mb-6"
        >
          Let's Try API
        </h2>

        <p
          class="font-sans font-medium text-base md:text-2xl text-black text-center"
        >
          On this api's their are various endpoints filled with JSON data which
          you can use in developing the frontend with your favorite framework
          and library without worrying about writing a backend.
        </p>

        <div class="mt-16">
          <h3 class="font-sans font-bold text-xl md:text-3xl text-black my-6">
            Example
          </h3>

          <img
            class="block"
            src="https://i.ibb.co/j5qs9Fh/example.png"
            alt="example"
          />

          <h3 class="font-sans font-bold text-xl md:text-3xl text-black my-6">
            Result
          </h3>

          <img
            class="block"
            src="https://i.ibb.co/NmZhV6D/result.png"
            alt="result"
          />
        </div>
      </div>
    </section>
    <!-- demo end -->

    <!-- resources start -->
    <section class="mt-[100px]">
      <div class="max-w-[1600px] mx-auto">
        <div>
          <h1
            class="font-sans font-bold text-xl md:text-6xl text-center text-blue-600"
          >
            Resources
          </h1>

          <p
            class="font-sans font-normal text-xl md:text-2xl text-center text-black mt-2"
          >
            Comes with different sets of common resources
          </p>
        </div>

        <div class="mt-12">
          <h2 class="font-sans font-bold text-2xl text-black">Resources</h2>

          <table class="w-[500px] mt-5">
            <tr>
              <td>
                <a
                  class="font-sans font-normal text-xl text-blue-600"
                  href="/api/v1/students"
                  >/students</a
                >
              </td>
              <td class="ml-5">
                <p class="font-sans font-normal text-xl text-gray-600">
                  50+ Students
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <!-- resources end -->

    <!-- all routes start -->
    <section class="mt-[50px]">
      <div class="max-w-[1600px] mx-auto">
        <div class="mt-12">
          <h2 class="font-sans font-bold text-2xl text-black">Routes</h2>

          <table class="w-full mt-5">
            <tr class="mb-3">
              <td>
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-black"
                >
                  GET
                </p>
              </td>
              <td>
                <a
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-blue-600"
                  href="/api/v1/students"
                  >/students</a
                >
              </td>
              <td class="ml-5">
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-gray-600"
                >
                  // Get All Students
                </p>
              </td>
            </tr>

            <tr class="mb-3">
              <td>
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-black"
                >
                  GET
                </p>
              </td>
              <td>
                <a
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-blue-600"
                  href="/api/v1/students/451638"
                  >/students/451638</a
                >
              </td>
              <td class="ml-5">
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-gray-600"
                >
                  // Get One Student
                </p>
              </td>
            </tr>

            <tr class="mb-3">
              <td>
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-black"
                >
                  POST
                </p>
              </td>
              <td>
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-blue-600"
                >
                  /students
                </p>
              </td>
              <td class="ml-5">
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-gray-600"
                >
                  // Create A New Student
                </p>
              </td>
            </tr>

            <tr class="mb-3">
              <td>
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-black"
                >
                  DELETE
                </p>
              </td>
              <td>
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-blue-600"
                >
                  /students/451638
                </p>
              </td>
              <td class="ml-5">
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-gray-600"
                >
                  // Delete A Student
                </p>
              </td>
            </tr>

            <tr>
              <td>
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-black"
                >
                  PUT
                </p>
              </td>
              <td>
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-blue-600"
                >
                  /students/451638
                </p>
              </td>
              <td class="ml-5">
                <p
                  class="font-sans font-normal text-base md:text-lg lg:text-xl text-gray-600"
                >
                  // Update A Student
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <!-- all routes end -->

    <!-- footer start -->
    <footer class="mt-[100px] bg-blue-600">
      <div class="max-w-[1600px] mx-auto">
        <p
          class="font-sans font-medium text-lg text-white p-3 text-center md:text-left"
        >
          &copy; 2024 || Mahmood Hassan Rameem
        </p>
      </div>
    </footer>
    <!-- footer end -->
  </body>
</html>
